
@media all and (min-width: 481px) {

/* GLOBAL STYLES */
	
.master-wrapper-content {
	max-width: none;
}
	
/* HEADER & NAVIGATION */

.header-menu {
	width: 90%;
	margin: 0 auto 20px;
}

/* FOOTER */

.footer {
	max-width: none;
}
.footer-block {
	float: right;
	width: 49%;
	margin: 0 2% 2% 0;
}
.footer-block:nth-child(2n+1) {
	clear: both;
	margin-right: 0;
}
.footer-lower {
	background-color: transparent;
	padding: 0;
}
.accepted-payment-methods,
.social-sharing,
.subscribe-to-newsletter {
	/*margin: 1px 0 0;*/
	background-color: rgba(255,255,255,0.5);
}

/* LEFT/RIGHT COLUMNS */

.side-2:after {
	content: "";
	display: block;
	clear: both;
}
.block {
	float: right;
	width: 49%;
	margin: 0 2% 2% 0;
}
.block:nth-child(2n+1) {
	clear: both;
	margin-right: 0;
}

/* CATEGORY PAGE */

.product-selectors div {
	display: inline-block;
}
.product-selectors span {
	display: inline;
}
.product-selectors select {
	width: auto;
	min-width: 50px;
	max-width: none;
	margin: 0 5px;
}

.item-box {
	width: 49%;
	margin: 0 2% 20px 0;
}
.item-box:nth-child(2n+1) {
    clear: both;
	margin-right: 0;
}
	
.sub-category-grid {
	margin: 0 0 10px;
}

/* PRODUCT PAGE */
	
.attributes dt {
	float: right;
	clear: right;
	margin: 0 0 0 15px;
	background: #ddd url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHBAMAAADDgsFQAAAAGFBMVEUAAABERERERERERERERERERERERERERESMa+BPAAAAB3RSTlMA6i7wJcY3AbcEsgAAAB5JREFUCNdjgAAmYQUg6VgAYoeXl5eD2BDxBAYoAABPUgPJQL3UnAAAAABJRU5ErkJggg==') 5px center no-repeat;
	text-align: right;
}
.attributes dd {
	float: right;
	width: 250px;
	margin: 0 0 12px;
	text-align: right;
}
.attribute-squares li {
	margin: 0 0 0 10px;
}
.ui-tabs .ui-tabs-nav {
	overflow: hidden;
}
.ui-tabs .ui-tabs-nav li {
	float: right;
	margin: 0 0 0 2px;
}

/* PRODUCT REVIEWS */

.product-reviews-page .page-title {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAAQlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzN+8gE8AAAAFXRSTlMAFta/18ET67Mu+PHAuOfOKsY3JiQNoh7hAAAAfElEQVQY013R7Q7CIAyF4bI5gU22+dH7v1WrUt7G/mqeHE5CKj6prC31HZxU9eIMzmmGQbnCoMARYRDueLOlHvl0BvNWQ7p98ZlVKGmyqaHctc9ur3WVoovxax9Z+0z59C6/3ofjlMT5PHIFB8ck/IcwCIORwcgKxruVgW9LEAbf44EuJwAAAABJRU5ErkJggg==');
	padding: 15px 38px 15px 10px;
}
.product-reviews-page h1 {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product-review-item .review-item-head {
	display: table;
	width: 100%;
	margin: 0 0 20px;
}
.product-review-item .review-title {
	display: table-cell;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAAQlBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzN+8gE8AAAAFXRSTlMAFta/18ET67Mu+PHAuOfOKsY3JiQNoh7hAAAAfElEQVQY013R7Q7CIAyF4bI5gU22+dH7v1WrUt7G/mqeHE5CKj6prC31HZxU9eIMzmmGQbnCoMARYRDueLOlHvl0BvNWQ7p98ZlVKGmyqaHctc9ur3WVoovxax9Z+0z59C6/3ofjlMT5PHIFB8ck/IcwCIORwcgKxruVgW9LEAbf44EuJwAAAABJRU5ErkJggg==') right center no-repeat;
	padding: 10px 28px;
	text-align: right;
}
.product-review-item .product-review-box {
	display: table-cell;
	position: static;
	text-align: left;
}
.product-review-item .rating {
	display: inline-block;
	position: relative;
	top: 1px;
}

/* TOPICS */
	
.topic-password input[type="password"] {
	width: 280px;
}

/* REGISTRATION, LOGIN, ACCOUNT */

.date-of-birth select {
	width: 100px;
	max-width: none;
	margin: 0 10px 0 0;
}
.login-page .checkout-as-guest-button {
	display: inline-block;
	margin: 0 0 0 3px;
}

/*CHECKOUT PAGES*/

.payment-method .payment-details {
	max-width: 80%; /*prevents content drop*/
}

/* ORDER DETAILS, RETURN REQUESTS */

.order-details-page .page-title {
	margin: 0 0 20px;
	overflow: hidden;
}
.order-details-page .page-title h1 {
	float: right;
	line-height: 28px;
}
.order-details-page .page-title span {
	position: static;
	float: left;
	width: auto;
	margin: 0;
}
.order-details-page .page-title a {
	width: auto;
	margin: 0 5px 0 0;
}
.order-details-area,
.shipment-details-area {
	display: table;
	width: 100%;
}
.order-details-area ul,
.shipment-details-area ul {
	display: table-cell;
	width: 50%;
	padding: 5px 0 10px;
}

/* BLOG & NEWS */

.post-head, .news-head,
.blog-page .blog-details {
	display: table;
	width: 100%;
}
.post-title, .news-title,
.blog-page .tags {
	display: table-cell;
	text-align: right;
}
.post-date, .news-date,
.blog-page .buttons {
	display: table-cell;
	text-align: left;
}
.new-comment .form-fields {
	background-color: #eee;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.10);
	padding: 20px 15px 15px;
}

}